
body {
	height: 500px;
	width: 320px;
	background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


button {
	outline: none;
	background: none;
	border: none;
	border-radius: 16px;
}


.buttonLink:hover {
	cursor: pointer;
	background-color: #00003e;
	border-radius: 32px;
	transition: 1s;
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 32px 0 rgba(0,0,0,0.19)
}


.boutons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 8px;
	row-gap: 16px;
	padding-bottom: 16px;

}


.logo {
	width: 320px;
	height: auto;
}
	  .live {
        background-color: #00000000;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 13px 13px;
        text-align: center;
        text-decoration: none;
      }
      @keyframes glowing {
        0% {
          background-color: #ff000000;
          box-shadow: 0 0 5px #ff000000;
        }
        50% {
          background-color: #ff0000ce;
          box-shadow: 0 0 20px #ff0101ce;
        }
        100% {
          background-color: #ff0505;
          box-shadow: 0 0 5px #fa0000;
        }
      }
      .live {
        animation: glowing 1500ms infinite;
      }